* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 6.25rem auto 1.25rem;
    padding: 2.5rem 1.87rem 4.37rem;
    border-radius: 1.25rem;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.todo-app h2 img {
    width: 1.87rem;
    margin-left: 0.625rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1.25rem;
    padding-left: 1.25rem;
    margin-bottom: 1.56rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.625rem;
    font-weight: 14px;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
    min-width: 0;
}

button {
    border: none;
    outline: none;
    padding: 1rem 1.87rem;
    background: #ff5945;
    color: #fff;
    font-size: 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 1rem 4%;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 0.75rem 0.5rem 0.75rem 3.125rem;
    user-select: none;
    cursor: pointer;
    position: relative;
    max-width: calc(100% - 20px);
    word-break: break-word;
}

ul li::before {
    content: '';
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.75rem;
    left: 0.5rem;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 2.5rem;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 15px;
    flex-shrink: 0;
}

ul li span:hover {
    background: #FF5945;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto 0;
    }

    .row {
        display: flex;
        flex-shrink: 3;
    }

    #input-box {
        flex-grow: 1;
    }

    button {
        flex-shrink: 2;
    }
}

@media (max-width: 375px) {
    /* kichik ekranlar uchun stillar */
  }